@charset "UTF-8";

/* nav */

nav {
  top: 0;
  width: 100%;
  z-index: 100%;
  background: transparent;
  transition: all 1s
  z-index: 100%;
}

nav a:hover {
  color: #78b7bb!important;
}

nav.active {
  position: fixed;
  top: 0;
  width: 100%;
  color: black!important;
  background: white;
  transition: all 1s;
}



nav.active a:hover {
  color: #2470a0!important;
}

nav ul {
	float: right;
  margin-right: 60px;
}

nav ul li {
	display: inline-block;
	margin: 0 5px;
	margin-right: 15px;
}

nav a{
  color: white!important; 
}

nav.active a{
  color: black!important;
}

.main_nav ul {
  text-decoration: none!important;
}

nav ul li{
  list-style: none!important;
}

nav ul li a{
  text-decoration: none!important;
}

.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

nav.active .checkbtn {
	color: black;
}

.checkbtn:hover {
	color: #78b7bb;
	transition: .5s;
}

nav.active .checkbtn:hover {
	color: #78b7bb;
	transition: .5s;
}

#check {
	display: none;
}

/*End of nav */


.description {
  font-size: 14px!important;
}



header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: url("../images/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
}

.contacts {
    flex-direction: row;
}

.fa-facebook {
  color: #4267B2;
}

.fa-twitter {
  color: #1DA1F2;
}

.fa-whatsapp {
  color: #128C7E;
}

.fa-linkedin-in {
  color: #0072b1;
}

.fa-youtube {
  color: #FF0000;
}

.fa-instagram {
  color: #833AB4;
}

.fa-facebook:hover, .fa-twitter:hover, 
.fa-whatsapp:hover, .fa-linkedin-in:hover, .fa-youtube:hover,
.fa-instagram:hover {
  color: #78b7bb;
}

.contacts li{
    list-style-type: none;
    line-height: 0px;
    padding-top: 0px;
    font-size: 10px;
    margin-right: 17px;
}

.contacts li a{
  color: white;
}

.contacts li a:hover{
  color: #2470a0!important;
}


.contactheader {
  letter-spacing: 1px;
  font-size: 18px!important;
  font-weight: bold;
}

.title-underline {
    width: 250px;
    height: 2px;
}

.masthead .contactheadertext{
  font-size: 14px;
  letter-spacing: 0.5px;
  text-align: justify;
}


/* Form */

.search-submit {
    margin: auto;
    letter-spacing: 2px;
}

.search-submit:hover {
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}

textarea {
  height: 130px!important;
}

input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=text]:hover, input[type=email]:hover, textarea:hover {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px rgba(88, 86, 86, 0.9)!important;
    transition: 0.6s ease;
  }
  input[type=text]:focus,input[type=email]:focus, textarea:focus {
    border: 3px solid rgb(226, 237, 238);
    box-shadow: 1px 1px 1px 1px rgba(88, 86, 86, 0.9)!important;
    border: none;
  }