@charset "UTF-8";



@media (max-width: 1200px) {
	nav {
	  	padding-left: 130px!important;
	}
	nav ul {
		padding-right: 70px!important;
	}
}

@media (max-width: 1050px) {
	nav {
	  	padding-left: 90px!important;
	}
	nav ul {
		padding-right: 40px!important;
	}
}

@media (min-width: 1100px) {
	.foter_sub {
		margin-left: -130px;
	}
}

@media (min-width: 1024px) {
	.bigheader {
		font-size: 27px;
	}
	.smallhead {
		font-size: 19px;
	}
	.fa-star {
		font-size: 14px;
	}
	.contactTexts h5, .search{
		font-size: 19px;
	}
	.contactTexts p{
		font-size: 15px;
	}
	.vision, .mision {
		font-size: 23px;
	}
}

@media (max-width: 1024px) {
	.bigheader {
		font-size: 25px;
	}
	.smallhead {
		font-size: 18px;
	}
	.fa-star {
		font-size: 13px;
	}
	.contactTexts h5, .search{
		font-size: 18px;
	}
	.contactTexts p{
		font-size: 14px;
	}
	.vision, .mision {
		font-size: 22px;
	}
}

@media (max-width: 768px) {
	.bigheader {
		font-size: 23px;
	}
	.smallhead {
		font-size: 17px;
	}
	.contactTexts h5, .search{
		font-size: 17px;
	}
	.vision, .mision {
		font-size: 21px;
	}
}

@media (max-width: 576px) {
	.bigheader {
		font-size: 22px;
	}
}


@media (max-width: 992px) {
	nav ul.navBar_resp li a {
		font-size: 15px;
	}

	.navbar-brand {
		font-size: 19px;
	}

	.swiper-slide {
	  width: 330px;
	  height: 330px;
	}
	.search-submit {
		font-size: 14px;
	}
}


@media (max-width: 991px) {
	.contactform {
		display: none;
	}
}



@media (max-width: 952px) {
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}

}

@media (max-width: 858px) {
	.checkbtn {
		display: block;
	}

	ul.contactsb {
		display: none!important;
	}

	nav ul {
		position: fixed;
		width: 100%;
		background: #97445F;
		opacity: 0.95;
		top: 77px;
		left: -100%;
		text-align: center;
		transition: all 1s ease-in-out;
	}

	nav.active ul {
		position: fixed;
		width: 100%;
		background: #EDEDED;
		top: 77px;
		left: -100%;
		text-align: center;
		transition: all 1s ease-in-out;
	}

	nav ul li {
		display: block!important;
		margin: 50px 0;
	}

	nav ul li a {
		font-size: 20px;
	}

	#check:checked ~ ul {
		left: 0;
	}
	.search-submit {
		font-size: 13px;
	}
}

@media (max-width: 768px) {

	nav ul li a {
		font-size: 15px;
	}
	.fa-bars {
		font-size: 24px;
	}
	nav {
	  	padding-left: 20px!important;
	}
	.title-underline {
		margin-bottom: 25px!important;
	}
	.contactformmain {
		margin-top: -50px!important;
	}
	.title-underline {
		width: 220px;
	}
	.footer {
		letter-spacing: 0.5px;
	}
}


@media (max-width: 600px) {  
	.swiper-slide {
	  width: 300px;
	  height: 300px;
	}
	.fa-arrow-alt-circle-up {
		font-size: 24px;
	}

	.footer {
		letter-spacing: 0px;
		font-size: 13px;
	}
 }


@media (max-width: 576px) {
	.fa-bars {
		font-size: 22px;
	}
	.description {
		font-size: 13px!important;
	}
	.swiper-slide {
	  width: 280px;
	  height: 280px;
	}
 }

@media (max-width: 375px) {  
	.row .title {
		font-size: 19px;
	}
 }
